* {
    padding: 0px;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    height: 100vh;
}

main {
    position: relative;
    overflow: hidden;
    height: calc(100vh - 3rem - 18px);
}

main section {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
}

main section #content {
    width: 60%;
    margin-left: 5rem;
    display: grid;
}

main section article {
    margin: 1rem;
    text-align: left;
    width: 40%;
    animation-name: upper;
    animation-duration: 3s;
}

header {
    position: relative;
    display: flex;
    padding: 1.5rem;
}

header ul {
    float: right;
}

header ul li {
    display: inline;
}

header ul a {
    margin: 0px 10px;
}

header nav {
    display: flex;
    justify-content: end;
}

header .header-group {
    width: 50%;
}

@keyframes upper {
    from {
        bottom: -50px;
        opacity: 0;
    }
    to {
        bottom: 0px;
        opacity: 1;
    }
}

@keyframes hider {
    from {
        opacity: 1;
    }
    to {
        bottom: 0px;
        opacity: 0;
    }
}

.hide {
    animation-name: hider;
    animation-duration: 0.5s;
    opacity: 0;
}


@keyframes identifier {
    from {
        margin-bottom: -50px;
        opacity: 0;
    }
    to {
        margin-bottom: 0px;
        opacity: 1;
    }
}

aside {
    position: absolute;
    bottom: 0px;
    left: 2rem;
    animation-name: upper;
    animation-duration: 2s;
}

aside #reference {
    padding: 5px;
}

aside #reference a {
    margin: 5px;
}

aside .icon {
    width: 35px;
    height: 35px;
    background-position: center;
    background-size: 100%;
}

#bar {
    height: 130px;
    width: 2px;
    margin: 0px auto;
    background-color: black;
}

#btn-projetos {
    padding: 1rem;
    background-color: white;
    border-style: none;
    border: 0.15rem solid #5000ca;
    border-radius: 0.3rem;
    margin: 1rem 0rem;
    text-decoration: none;
    width: fit-content;
}

#btn-projetos:hover {
    background-color: #5000ca;
    color: white;
    cursor: pointer;
    -webkit-transition: background-color 0.2s ease-out;
    -moz-transition: background-color 0.2s ease-out;
    -o-transition: background-color 0.2s ease-out;
    transition: color 0.3s ease-out;
}

#picture {
    width: 70%;
    margin-left: 2rem;
    height: 70%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url("../images/picture_auto_x2.jpg");
}

ul a {
    text-decoration: none;
}

#page {
    cursor: pointer;
    color: black;
}

.active {
    color: #5000ca;
}

.hovermenu:hover {
    border-bottom: 1px solid black;
}